
.nav_ {

}
.nav_ ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pointer_{
    cursor: pointer;
}
.nav_ a {
  text-decoration: none;
  display: block;
  color: #222;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  line-height: 1;
  letter-spacing: 3px;
}
.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
      text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  box-shadow: 0 0 10px 1px black;
  background-color: #8f5256;
}

.arrow_{
  opacity: 0.6;
  transition: transform 0.4s, opacity 0.4s;
}

.topmenu li:hover > span > .arrow_{
  transform: rotate(180deg);
    opacity: 0.8;
}

.submenu a {
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .4s linear;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

.submenu a:hover{
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: rgb(178 99 104);
    box-shadow: 0 0 40px #00000054;
}