{% extends 'basic_template.html' %}
{% block title %}Профиль {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% load static %}
{% block content %}
    <div class="content_box mb-5">
        <div class="profile_block mr-0 mt-5 mb-5 ml-3 position-relative">
            <div class="img_block d-inline-block position-relative">
                <img class="img-thumbnail profile_img"  style="width: 10rem; border-color: #183E87;" src="{% static user.profile.user_img %}" alt='ICON'>
                <form method="POST" enctype="multipart/form-data" class="form_par" id="form_pic_id">
                    {% csrf_token %}
                    {{ form_pic }}
                </form>
            </div>

            <div class="profile_title d-inline-block position-absolute">
                <div class="profile_name a_ml3">
                    <span class="h2 prof_span">{{user.first_name}}</span>
                    <span class="h2 prof_span">{{user.last_name}}</span>
                    <p class="text-muted pt-2 pl-1 h5 font-weight-light">{% if user.profile.is_teacher %} Учитель {% else %} Ученик {% endif %} </p>
                </div>
            </div>
        </div>
334`
        <div class="calendar_block">
        <div class="d-flex justify-content-center text-center h1 text-muted h1_auto">{{ month }} {{ year }}</div>
        <div class="sep_line" style="background: #183E87;"></div>
         <div class="row row-cols-7 mt-5">
            {% for week_day, day, list_home_tasks, lessons_list  in week_days %}
              <div class="card mb-2">
{#                <img src="{% static 'icons/ReturnIcon.png' %}" class="card-img-top w-25" alt="">#}
                <div class="card-body overflow-hidden pt-1 pr-2 pl-2 pb-5{% if day == number_day_today %} bg-today{% elif day < number_day_today %} bg-today-pass text-muted {% elif day > number_day_today %} text-muted {% endif %}">
                  <span class="card-title "><span class="font-weight-bold">{{ day }}</span> <span class="font-weight-light float-right">{{week_day}}</span></span>
                  <br><span class="card-text pt-3">
                    <div class="mt-2"></div>
                  {% for lesson in lessons_list %}
                      {% if not lesson.is_hidden and not lesson.is_hometask%}
                        <a class="font-weight-normal" href="/course/{{ lesson.fk_course.url }}/{{ lesson.url }}">{{ lesson.fk_course|slice:":10" }}: {{ lesson.lesson_title|slice:":10" }}</a>
                          {% for home_task in list_home_tasks %}
                              {% if home_task.fk_lesson.id == lesson.id %}
                                  {% if home_task.HomeTask_attached_files%}
                                      {% if home_task.is_passed %}
                                        <img src="{% static 'icons/Ok.png' %}" alt="" style="max-height: 12px; max-width: 12px; margin-bottom: 5px">
                                      {% else %}
                                          <img src="{% static 'icons/So.png' %}" alt="" style="max-height: 12px; max-width: 12px; margin-bottom: 5px">
                                      {% endif %}
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                          <hr class="m-0 p-0">
                      {% endif %}
                  {% endfor %}
                  </span>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
{#                {{ day }}#}
            {% endfor %}
         </div>
        </div>


    </div>
{% endblock %}
{#<script>#}
{#    document.getElementById("file").onchange = function() {#}
{#    document.getElementById("form_pic_id").submit();};#}
{#</script>#}