{% extends 'basic_template.html' %}
{% block title %}Урок {{lesson.lesson_title}}{% endblock %}
{% load static %}
{% block content %}

    <div class="content_box ">
{% if user.profile.user_id == course_cur.course_teacher.user.profile.user_id and user.profile.is_teacher %}

    <form method="post" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="title_edit_block d-flex justify-content-center">
            <span class="title-nav title_block_ h1  font-weight-bold ">Редактирование урока</span>
        </div>

<div class="mt-4 mb-5 w-75 ml-4">
        <div class="mb-3 h3 title-nav  title_block_   mt-2">{{ Lesson_form.lesson_title.label }}:</div>
        <div class="ml-3 mt-3">{{ Lesson_form.lesson_title }}</div>

        <div class="mb-3 h3 title-nav   title_block_  mt-4">{{ Lesson_form.description.label }}:</div>
        <div class="ml-3 mt-3">{{ Lesson_form.description }}</div>

        <div class="mb-3 h3 title-nav  title_block_   mt-4">{{ Lesson_form.attached_files.label }}:</div>
        <div class="ml-3 mt-3">{{ Lesson_form.attached_files }}</div>

        <div class="mb-3 h3 title-nav title_block_    mt-4 url_hide position-absolute">{{ Lesson_form.url.label }}:
        {{ Lesson_form.url }}
        {{ Lesson_form.errors }}</div>

        <div class="custom-control custom-checkbox mt-4 mb-5">
          {{ Lesson_form.is_hidden }}
          <label class="custom-control-label   " for="id_is_hidden">Скрыть урок</label>
        </div>
    </div>

        <div class="title_edit_block d-flex justify-content-center mt-5 pt-5">
            <span class="title-nav title_block_ h1  font-weight-bold  ">Редактирование домашнего задания</span>
        </div>

<div class="mt-4 mb-5 w-75 ml-4">
        <div class="mb-3 h3 title-nav  title_block_   mt-3">{{ Lesson_form.HomeTask_title.label }}:</div>
        <div class="ml-3 mt-3">{{ Lesson_form.HomeTask_title }}</div>

        <div class="mb-3 h3 title-nav title_block_    mt-3">{{ Lesson_form.HomeTask_description.label }}:</div>
        <div class="ml-3 mt-3">{{ Lesson_form.HomeTask_description }}</div>

        <div class="mb-3 h3 title-nav  title_block_   mt-3">{{ Lesson_form.deadline_time.label }}:</div>
        <div class="ml-3 mt-3 mb-5" style="max-width: 400px">{{ Lesson_form.deadline_time }}</div>
            <div class="custom-control custom-checkbox mt-4 mb-5">
              {{ Lesson_form.is_hometask }}
              <label class="custom-control-label " for="id_is_hometask">Не прикреплять домашнее задание</label>
            </div>
        <p class="mt-3">{{ errors }}</p>
    <div class="mb-5">
        <button type="submit" class="mb-5 a_ml3 btn btn-lg btn-outline-success btn_size_" style="min-width: 160px">Применить</button>
        <a href="../{{lesson.url}}" class="mb-5 a_ml3 btn btn-lg btn-outline-warning btn_size_">Вернуться без применения</a>
    </div>

</div>


    </form>
</div>



{% endif %}
{% endblock %}
